.Cart{
    background-color: rgba(255, 153, 0, 0.3);;
}
.Cart-Info{
    color: #2A414F;
}
.Cart-Info p{
    margin: 30px 0;
}

/* .Cart-btn{
    display: flex;
    margin: 15px auto;
    justify-content:space-between;
} */