.Review-item {
  width: 571px;
  height: 107px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 8px;
}

.Review-detail{
    /* display: flex;
    justify-content: space-between; */
    margin: 0 15px;
    /* flex-grow: 1; */
}
.Review-item img{
    width: 91px;
}
